* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar Layout */
.navbar {
    display: flex;
    justify-content: space-between; /* left - center - right */
    align-items: center;
    padding: 8px 60px;
    background: #0f172a;
}

/* Left */
.logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

/* Center */
.nav-center {
    display: flex;
    list-style: none;
    gap: 40px; /* spacing using flexbox */
}

.nav-center a {
    text-decoration: none;
    color: #cbd5e1;
    font-size: 16px;
    transition: 0.3s ease;
}

/* Link Hover */
.nav-center a:hover {
    color: #38bdf8;
}

/* Active Link */
.nav-center .active {
    color: #ffffff;
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 4px;
}

/* Right Button (Reuse .btn-primary from Day 2) */
.btn-primary {
    background-color: #38bdf8;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: #0ea5e9;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    background: white;
    width: 60%;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

.content-box h2 {
    color: #764ba2;
    margin-bottom: 20px;
}

.content-box p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Buttons */
.container{
    margin: 40px auto;
    background:white;
    padding:30px 40px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,0.1);
    width:750px;
}

h2{
    margin-bottom:25px;
    text-align:center;
}

.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:20px;
}

.label{
    width:230px;
    font-size:16px;
}

/* Common Button */
.btn{
    padding:10px 22px;
    margin-right:10px;
    border-radius:8px;
    font-size:14px;
    cursor:pointer;
    transition:0.3s ease;
    border:none;
}

/* PRIMARY */
.primary{
    background:linear-gradient(45deg,#2563eb,#3b82f6);
    color:white;
    box-shadow:0 4px 12px rgba(59,130,246,0.4);
}

.primary:hover{
    background:linear-gradient(45deg,#1e40af,#2563eb);
    transform:translateY(-2px);
}

.primary:active{
    transform:scale(0.95);
}

.primary:disabled{
    background:#cbd5e1;
    color:#666;
    cursor:not-allowed;
    box-shadow:none;
}

/* SECONDARY */
.secondary{
    background:transparent;
    border:2px solid #3b82f6;
    color:#3b82f6;
}

.secondary:hover{
    background:#3b82f6;
    color:white;
}

.secondary:active{
    transform:scale(0.95);
}

.secondary:disabled{
    border-color:#cbd5e1;
    color:#999;
    cursor:not-allowed;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

footer span {
    color: #ffcc00;
}
